
@page  
{ 
    size: auto;   /* auto is the initial value */ 
    /* this affects the margin in the printer settings */ 
    margin: 20mm 15mm 20mm 30mm;
} 

@media only screen {
    .paper-only {
	display: none !important;
    }
}

@media only print {
    .screen-only {
	display: none !important;
    }
}

/* ---------------------------------------- */
/* BODY */
body {
    text-align: justify;
}

@media only screen and (min-width: 1001px) {
    body {
	max-width: 920px;
	margin: 0 auto;
	font-family: "Liberation Sans", sans;
    }
}

@media only screen and (max-width: 1000px) {
    body {
	margin: 0 32px;
	font-family: "Liberation Sans", sans;
    }
}

@media only print {
    body {
	font-family: "Liberation Serif", "Times New Roman", Times, serif;
	font-size: 12pt;
    }
}

/* ---------------------------------------- */
/* HEADER */
#top-panel {
    display: flex;
    justify-content: right;
    margin: 8px 0;
}

#header {
    font-size: 140%;
    text-align: center;
    margin: 16px 0;
}
#header p {
    margin: 0 0;
}

/* ---------------------------------------- */
/* FORM */
form .option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

form label {
    width: 200px;
}

form input, form select {
    width: 200px;
    margin: 4px;
}

/* ---------------------------------------- */
/* CITE DBS */

#cite-dbs ul {
    list-style-type: none;
}

/* ---------------------------------------- */
/* CONTENT */

#content {
    counter-reset: paper-no;
}
.hidden {
    display: none;
}

p.record:before {
    counter-increment: paper-no;
    content: counter(paper-no) ". ";
}
p.record {
    page-break-inside: avoid;
}

@media only print {
    table {
	font-size: 11pt;
    }
    td:nth-child(1) {
	max-width: 8%;
    }
    td:nth-child(2) {
	max-width: 25%;
    }
    td:nth-child(3) {
	max-width: 12%;
    }
    td:nth-child(4) {
	max-width: 25%;
    }
    td:nth-child(5) {
	max-width: 12%;
    }
    td:nth-child(6) {
	max-width: 18%;
    }
}

table, th, td {
  border: black 1px solid;
  border-collapse: collapse;
}

thead {
    border-top: black 1px solid;
}

th, td {
    padding: 2px 4px;
}

th {
  text-align: center;
}

td {
  vertical-align: top;
  text-align: left;
}

tr.section td {
  text-align: center;
}

tr.record td:nth-child(1)::before {
    counter-increment: paper-no;
    content: counter(paper-no) ". ";
}

tr.record {
    page-break-inside: avoid;
}

/* ---------------------------------------- */
/* SIGNATURE */
#signature {
    text-align: center;
    margin: 16px auto;
}

/* ---------------------------------------- */
/* AUX */
.aux {
    color: gray;
    margin: 16px 10%;
    font-size: 80%;
}

@media only print {
    .aux {
	color: black;
    }
}
